.dashboard-table-scroll_body {
  &.base_columns {
    padding-left: 35px;
    padding-left: 6px;
    padding-left: 0px;
    display: flex;
    .task-list-group {
      width: 280px;
      width: 320px;
      margin-left: 10px;
      margin-right: 10px;
      .task-list-group--body {
        //border-color: transparent !important;
        max-height: 90%;
        overflow-y: auto;
        //background: #ffffff;
      }

      .item-create-new {
        padding-left: 0px;
      }
      .task-list-group--footer {
        padding-left: 0px;
      }
      .card_column {
        //border: solid 1px rgba(0,0,0,0.5);
        &.theme--dark {
          border: solid 1px rgba(255,255,255,0.5)
        }

      }
      .gird-virtual-list--row {
        border-bottom-color: transparent;
      }
    }
    .task-list-header--parent {
      //border: solid 1px red;
      height: 40px;
      .task-list-header {
        .header--row--action {
          top: 0px;
        }
      }
    }
  }
}

body {

  /*height: 100vh;*/
}
