// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
//$font-size-root: 20px;
$font_courier: 'Courier Prime', monospace;
$color_dark_primary: #ffffff;
$color_light_primary: #6d42c7;
//$text-field-filled-full-width-outlined-slot-min-height: 20px ;
//$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px ;
//$text-field-filled-full-width-outlined-slot-min-height: 30px ;
//$text-field-solo-control-min-height: 25px ;
//$text-field-solo-dense-control-min-height: 25px ;
//$text-field-filled-full-width-outlined-single-line-slot-min-height: 25px ;
//$text-field-filled-full-width-outlined-dense-slot-min-height: 25px ;
//$text-field-filled-full-width-outlined-slot-min-height: 25px ;
//$text-field-single-line-prepend-append-margin-top: 4px;
//$text-field-single-line-label-top: 5px;
$border-light-color: solid 1px rgba(0, 0, 0, 0.05);
$border-dark-color: solid 1px rgba(255, 255, 255, 0.1);
