A. L? thuy?t (3/6/2019-6/6/2019)
	1. Data and Methods
	2. Data binding 
	3. Events, Events Modifiers 
	4. Two-Way Data Binding 
	7. Computed Properties
	8. Conditionals
	9. Looping with
	10. Refs
	11. The Vue CLI
	12. Nesting Components
	13. Props
	14. Events (child to parent)
	15. Slots
	16. Dynamic Components
	17. Life cycle
B. Bài t?p (Vuejs + Vuetify) (7/6/2019-11/6/2019)
C. H?c Vuex (12/6/2019-13/6/2019)
D. Bài t?p (Vuejs + Vuex + Vuetify + Api) (14/6/2019-17/6/2019)
E. H?c Vue Router (18/6/2019)
F. Bài T?p (Vuejs + Vuex + VueRouter + Vuetify + Api) (19/6/2019-22/6/2019)